html,body
{
	height:100%;
	width:100%;
	font-family:;

}
.navbar
{
	font-size:1rem;
	letter-spacing:.1rem;
}

iframe.video-wrap 
{
	width:100%;
	height:320px;
	margin:0;
	border:0;
}
.login_bg
{
	background:url("shoe.gif");
	background-attachment: fixed;
}
.login_text 
{
	margin-top:330px;
	color:#ffffff;
}
.login-text 
{
	
	color:#ffffff;
}
.textR
{
	color:#ffffff;
	font-size:25px;
}
.fa-edit
{
 color:#ffffff;
 font-size:30px;
 float:right;
 margin-top:20px;
}
.form
{
	margin-top:30px;
	box-shadow:-1px, 1px, 60px, 10px black;
	background: rgba(0,0,0,0.4);
}
.label
{
	font-weight:normal;
	margin-top: 18px;
	color: #ffffff;
	font-size:15px;
}
.form-control
{
	font-size:18px;
	margin-top: 10px;
    margin-left:5px;
	height:40px;
	width:300px
}
input[type="checkbox"]
{
	margin-top:15px;
	width:15px;
	height:15px;
}
small
{
	font-size:15px;
	color:#ffffff;
}
input[type="radio"]
{
	margin-top:22px;
	margin-left:22px;

}
option
{
	color:gray;
}
.btn-info
{
	margin-top:20px;
	font-size:18px;
	margin-left:130px;
	margin-bottom:20px;
}
.btn-warning
{
	margin-top:20px;
	font-size:18px;

	margin-bottom:20px;
}
	
.invalid-feedback p
{
	color:#ffffff;
	font-size:10px;
	margin-top:10px;
}
.card
{
	width:300px;
	height:250px;
	margin-left:0px;
	
}
.card:hover
{
	transform:scale(1.1);
	cursor:zoom-in;

}
.fa-shipping-fast, .fa-box-open, .fa-shoe-prints, .fa-gifts
{
	
	margin-top:10px;
	margin-left:130px;

}
.card-title
{
	font-size:20px;
	text-align:center;
}
.card-text
{
	padding-top:10px;
	font-weight:100;
	text-align:center;
	font-size:12px;
}
.btn-outline-secondary
{
	background-color:#EF7215;
	border-color: #EF7215;
	color:#000000;
	font-weight:700;
	margin-left:70px;
}
.btn1
{
	background-color:#ffffff;
	border-color: #ffffff;
	color:#000000;
	font-weight:700;
	float:right;
}
.btn2
{
	background-color:#EF7215;
	border-color: #EF7215;
	color:#000000;
	font-weight:700;
	margin-left:0px;

}
.box1
{
	background-color: #000000;
	
}
.box1 h1
{
	color:#ffffff;
	padding-top:90px;
	float:right;
	font-size:60px;

}


.box1 p
{
	color:#ffffff;
	float:right;
	padding-left:250px;
	padding-top:10px;

}
.header img
{
	width:100%;
}
.about_h1
{
	font-size:30px;
	font-weight:700px;
	text-align:center;
	padding-top:50px;
}
hr.small
{
	background-color:#EF7215;
	width:70px;
	margin-bottom:40px;
}
.carousel-inner img
{
	margin-top:50px;
	width:100%;
}
.carousel-caption
{
	position:absolute;
	text-shadow:1px 1px 10px #000;

}
footer
{
	background-color: #40474e;
	color:white;
	padding: 2rem 0 2rem;
	margin-top:1rem;
}
footer img
{
	height:3rem;
	margin:1.5rem 0;
}
footer a
{
	color:white;
}
.fa-facebook-square,.fa-twitter-square,.fa-youtube-square
{
	font-size:1.4rem;
	margin:1rem .5rem 0 0;
}
.fa-facebook-square,.fa-twitter-square,.fa-youtube-square: hover
{
	color:#EF7215!important;
}
hr.socket
{
	width:97%;
	border-top:.2rem solid #EF7215;
	margin-top:3rem;

}
img.store
{
	width:100%;
	height:500px;
}
.location
{
	font-size:40px;
	font-weight:700px;
	color:#000;
	text-align:center;
	padding-top:50px;
}
.input-group.md-form.form-sm.form-2 input {

    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.fa-search
{
color:#EF7215;
}
.input-group.md-form.form-sm.form-2
{
		margin-top:80px;

}

.img-fluid
{
	margin-top:10px;

}
.jumbotron
{
	border-radius:0;
	padding:3rem 0 2rem;
}
.menu img
{
	max-width:100%;
	height:350px;
	margin-top:5px;
}
.narrow
{
	width:75%;
	margin:0 auto;
	padding-top:20px;
}
.fa-angle-down
{
	float:right;
	color:#000;
}
.mb-0
{
	color:#000;
}
.pro_h1
{
	margin-top:100px;
}
.img-fluid-1
{
	width:100%;
}
.product_h1
{
	font-size:30px;
	font-weight:700px;
	text-align:center;
	padding-top:10px;
}
.box9
{
	background-color: #000000;
	height:350px;

}
.home_h1
{
	margin-top:80px;
	color:#fff;
}
.home_p
{
	color:#fff
}
.home1
{
	width:100%;
	height:560px;
	margin-top:30px;
	margin-bottom:30px;


}
.clients img
{
	width:100%;
	border-radius:50%;
}
.fa-quote-left
{
	color:#EF7215;
}
.clients_hr
{
	border-top:.05rem solid ;
}
blockquote
{
	margin-left:80px;
	margin-top:60px;
}
.client_h1
{
	margin-top:30px;
	text-align:center;
}
.home_image
{
	width:100%;
	background:url("home3.jpg");
}
.table_footer
{
	margin-top:50px;
    margin-bottom:50px;

}